

.box {
	width: 250px;
	height: 250px;
	text-shadow: 5px 5px lightgray;
}

td {
	text-align: center;
	vertical-align: middle;
	font-size: 150px;
}

.header {
	font-size: 35px;
	vertical-align: center;
	text-align: center;
}

#winner {
	background-color: green;
}

#invalid {
	background-color: red;
}

.alert {
	font-size: 20px;
}

@media (max-width: 900px) {
	.box {
		width: 125px;
		height: 125px;
	}

	td {
		font-size: 75px;
	}
}